### Well located events at Mt. Baker

- This notebook is the tutorial for `../src/python/well_located_events.py`
- The module modifies the original dataset `data/Events/Mt_Baker_50km_radius_origins.csv` based on the following criteria: 
        
1. 6+ observations (P or S wave picks): nobs >= 6

2. 4+ observing stations: nsta >= 4

3. no fixed values (depth, epicenter, or time): ['fdepth', 'fepi', 'ftime'] are set to False

4. a minimum observing station distance of no more than 10 km: distance <= 10

5. horizontal and vertical errors of 10 km or less: erhor & sdep <= 10

6. travel time RMS misfit of no more than 1 second: wrms <= 1
        
- The output is the modified dataset (well-located events at Mt. Baker)

In [1]:
# import necessary dependencies
import os,sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from obspy import read
from obspy.core import UTCDateTime
from obspy.clients.fdsn import Client

sys.path.append(os.path.join('..','..','src','python'))

from well_located_events import *
from util import *

In [2]:
# define the relative root directory path
rrpath = os.path.join('..', '..')

# define the arguments
input_file = 'MtBaker_50km_radius_origins.csv'
output_file = os.path.join(rrpath, 'data', 'MtBaker_50km_radius_origins_curated.csv')

well_located_df = curate_events(input_file, output_file)

In [3]:
# the curated events at Mt. Baker
well_located_df

,evid,etype,selectflag,version,commid,remark,magid,magnitude,magtype,uncertainty,...,szz,maglarge,azilarge,diplarge,maginter,aziinter,dipinter,magsmall,azismall,dipsmall
114,10849673,eq,1,3,1047608.0,UW2 Q1=C Q2=D,913918.0,2.20,d,0.090000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,10850868,eq,1,3,1048803.0,UW2 Q1=C Q2=D,915093.0,2.50,d,0.060000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,10850868,eq,1,3,1048803.0,U Focal Mechanism attempted but judged UNRELIABLE,915093.0,2.50,d,0.060000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,10204348,eq,1,2,382648.0,UW2 Q1=D Q2=D,400468.0,2.40,d,0.050000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886,10204348,eq,1,2,382648.0,rbb,400468.0,2.40,d,0.050000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8141,62049551,lf,1,3,2116723.0,Mt. Baker,3311568.0,1.31,l,0.097180,...,NaN,3.04,333.0,84.0,1.21,152.0,5.0,0.62,NaN,NaN
8142,62049821,lf,1,2,2117143.0,Mt. Baker,3311638.0,1.50,l,0.095373,...,NaN,1.77,189.0,29.0,1.53,12.0,60.0,1.18,NaN,NaN
8145,62042207,eq,1,3,NaN,NaN,3312438.0,1.45,l,0.109871,...,NaN,0.56,131.0,75.0,0.30,240.0,4.0,0.24,NaN,NaN
8146,62042352,lf,1,2,2117293.0,Mt. Baker,3312338.0,1.40,l,0.063160,...,NaN,2.50,281.0,68.0,0.64,32.0,8.0,0.42,NaN,NaN
8149,62043717,lf,1,1,2117743.0,Mt. Baker,3313473.0,1.35,l,0.109089,...,NaN,4.84,356.0,66.0,0.57,247.0,7.0,0.43,NaN,NaN